#CupboardWrap{       
    border: 1px solid black;
    border-right: 20px solid #2C2B31;
    display: grid;
    grid-template-rows: 30px 1fr 150px;
    position: relative;
    height: calc(100% - 0px);
    z-index: 10;

    #CupboardHeader{
        // position: absolute;
    }
    
    #CupboardContents{
        overflow: auto;
        padding: 0px 15px 0px;
    }

    #CupboardDrawer{
        background-color: @panel-color2;
    }

    #AvailableIngredientsList{
        background-color: #fffcf7;
        border: 3px inset #676b71;
        box-shadow: -5px 6px 9px darken(@body-color, 20%);
        border-radius: 10px;
        padding: 10px 20px 30px;

        #AvailableIngredientsListHeader{
            border-bottom: 1px solid darken(@panel-color1, 20%);
            display: grid;
            grid-template-columns: 3fr 2fr;
            padding-bottom: 5px;

            h3{
                font-size: 2.5rem;
            }

            #DiscardListBtn{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &:hover{
                    cursor: pointer;
                }

                span{
                    font-size: 1.8rem;
                    line-height: 1;
                }

                .v-icon{
                    // color: red;
                    // font-weight: 700;
                    font-size: 2.9rem;
                }
            }
        }

        ul{
            list-style-type: none;
            list-style-position: inside;
            margin: 0px;
            padding: 0px;

            li{
                border-bottom: 1px solid darken(@panel-color1, 10%);
                display: flex;
                font-size: 2rem;
                justify-content: space-between;

                span{
                    color: #757bce;
                }

                &:nth-of-type(odd){

                    span{
                        font-style: italic;
                        transform: rotate(-2deg);
                    }
                }

                &:nth-of-type(even){

                    span{
                        font-style: italic;
                        transform: rotate(-0deg);
                    }
                }
            }
        }
    }    
}