#CupboardWrap{
    border-right: 20px solid #2C2B31;
    position: relative;
    height: 100%;
    z-index: 10;
    overflow-x: auto;
    overflow-y: visible;
    
    #HelperWrap{
        height: 100%;
        overflow: auto;
        overflow-x: auto;
        overflow-y: visible;

        #InnerHelperWrap{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;

            >div{
                overflow: auto;
            }
        }        
    }

    #CupboardHeader{
        // position: absolute;
    }
    
    #CupboardContents{
        border-bottom: 1px solid red;
        overflow: auto;
        padding: 0px 15px 0px 25px;
        height: 75%;

        #CupboardHeader{
            background-color: transparent;
            font-size: 3.4rem;
            font-weight: 700;
            padding: 15px 0px 5px;
            position: relative;
            left: -23px;
            top: 9px;
            transform: rotate(-4deg);
            z-index: 10;
        }

        .ingredient-input{
            margin: 0px;
            padding: 0px;

            .v-text-field__slot{
                background-color: darken(@body-color, 10%);
                padding-left: 8px;
            }
        }
    }

    #CupboardDrawer{
        background-color: @panel-color2;
        padding: 15px;
        overflow: auto;
        height: 25%;
    }

    #AvailableIngredientsList{
        background-color: #fffcf7;
        border: 3px inset #676b71;
        box-shadow: -5px 6px 9px darken(@body-color, 20%);
        border-radius: 10px;
        padding: 10px 20px 30px;

        #AvailableIngredientsListHeader{
            // border-bottom: 1px solid darken(@panel-color1, 20%);
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;

            h3{
                font-size: 2.5rem;
            }

            #DiscardListBtn{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &:hover{
                    cursor: pointer;
                }

                span{
                    font-size: 1.8rem;
                    line-height: 1;
                }

                .v-icon{
                    // color: red;
                    // font-weight: 700;
                    font-size: 2.9rem;
                }
            }
        }

        ul{
            list-style-type: none;
            list-style-position: inside;
            margin: 0px;
            padding: 0px;

            li{
                border-bottom: 1px solid darken(@panel-color1, 10%);
                display: flex;
                font-size: 2rem;
                justify-content: space-between;

                span{
                    color: #757bce;
                }

                &:nth-of-type(odd){

                    span{
                        font-style: italic;
                        transform: rotate(-2deg);
                    }
                }

                &:nth-of-type(even){

                    span{
                        font-style: italic;
                        transform: rotate(-0deg);
                    }
                }
            }
        }
    }    
}