#CupboardWrap{
    border-right: 20px solid #2C2B31;
    position: relative;
    height: 100%;
    z-index: 10;
    overflow-x: auto;
    overflow-y: visible;
    
    #CupboardHelperWrap{
        height: 100%;
        overflow: auto;
        overflow-x: auto;
        overflow-y: visible;

        #InnerHelperWrap{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;

            >div{
                overflow: auto;
            }
        }        
    }

    #CupboardHeader{
        // position: absolute;
    }
    
    #CupboardContents{
        overflow: auto;
        padding: 0px 15px 40px 25px;
        height: 65%;

        #CupboardHeader{
            background-color: transparent;
            font-size: 3.4rem;
            font-weight: 700;
            padding: 15px 0px 5px;
            position: relative;
            left: -23px;
            top: 9px;
            transform: rotate(-4deg);
            z-index: 10;
        }

        .ingredient-input{
            margin: 0px;
            padding: 0px;

            .v-text-field__slot{
                background-color: darken(@body-color, 10%);
                padding-left: 8px;
            }
        }
    }

    #CupboardDrawer{
        background-color: @panel-color2;
        height: 35%;
        overflow: auto;
        padding: 15px;
        position: relative;

        >h2{
            background-color: @panel-color2;
            // border: 1px solid red;
            font-size: 3rem;
            font-weight: 700;
            left: 0px;
            margin-bottom: 6px;
            padding: 5px 10px;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }

    #AvailableIngredientsList{
        background-color: #fffcf7;
        border: 3px inset #676b71;
        box-shadow: -5px 6px 9px darken(@body-color, 20%);
        border-radius: 10px;
        padding: 10px 0px 30px;

        #AvailableIngredientsListHeader{
            // border-bottom: 1px solid darken(@panel-color1, 20%);
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;

            h3{
                font-size: 2.3rem;

                >span{
                    position: relative;
                    display: inline-block;
                    transform: translate(10px, -4px) rotate(-8deg);

                    &:last-child{
                        position: relative;
                        display: inline-block;
                        transform: translate(-19px, 3px) rotate(-11deg);
                    }
                }
            }

            #DiscardListBtn{
                // background-color: grey;
                margin-right: 3px;
                padding: 2px 5px;
                text-align: center;
                position: relative;
                top: -5px;

                &:hover{
                    cursor: pointer;
                }

                span{
                    display: block;
                    font-size: 1.2rem;
                    line-height: 1;
                }

                .v-icon{
                    // color: red;
                    // font-weight: 700;
                    font-size: 2.9rem;
                }
            }
        }

        ul{
            list-style-type: none;
            list-style-position: inside;
            margin: 0px;
            padding: 0px;

            li{
                // border-bottom: 1px solid darken(@panel-color1, 10%);
                display: flex;
                font-size: 2rem;
                justify-content: space-between;
                padding: 0px 10px 3px;

                &:hover{
                    background-color: #E0E6E6;

                    .v-icon{
                        opacity: 1;
                    }
                }

                span{
                    color: #757bce;
                    border-bottom: 1px solid pink;
                }

                .v-icon{
                    opacity: .5;
                }

                &:nth-of-type(odd){

                    span{
                        font-style: italic;
                        transform: rotate(-2deg);
                    }
                }

                &:nth-of-type(even){

                    span{
                        font-style: italic;
                        transform: rotate(-0deg);
                    }
                }
            }
        }
    }    
}