#RecipesPanel {
  height: 100%;
  margin-left: -25px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 0px 100px 0px 20px;
  z-index: 200;
}
#RecipesPanel #Recipes {
  background-color: #ECDEC3;
}
#RecipesPanel #Recipes #RecipesTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;
}
#RecipesPanel #Recipes #RecipesTable .recipe {
  background-color: rgba(250, 190, 14, 0.6);
  display: grid;
  grid-template-rows: 230px 0fr;
}
#RecipesPanel #Recipes #RecipesTable .recipe:hover {
  background-color: #FABE0E;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap {
  background-color: #ECDEC3;
  line-height: 1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap h3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57565a+0,28272d+51,242226+100 */
  background: #57565a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57565a', endColorstr='#242226', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-bottom: 1px solid #d3b376;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 10px 20px;
}
@media (min-width: 420px) {
  #RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1280) {
  #RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 2.8rem;
  }
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap {
  background: #57565a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57565a', endColorstr='#242226', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn {
  border: 1px solid rgba(108, 102, 89, 0.5);
  color: #6C6659;
  display: inline-block;
  height: auto;
  font-size: 3rem;
  padding: 10px;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn:hover {
  cursor: pointer;
  background-color: #6C6659;
  color: #ECDEC3;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn h4 {
  line-height: 1;
}
#RecipesPanel #Recipes #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn .v-icon {
  color: inherit;
  font-size: 8rem;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div {
  background-color: #f3f1e9;
  box-shadow: 0px 2px 4px #6C6659;
  padding: 10px;
  position: relative;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div ul li {
  border-bottom: 1px solid #b1c2f1;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-used {
  transform: rotate(-2deg);
  z-index: 20;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed {
  transform: rotate(1deg);
  z-index: 10;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed ul li {
  color: red;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed ul li > .v-icon {
  color: red;
  left: 30px;
  opacity: 0;
  position: relative;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed ul li:hover > .v-icon {
  color: green;
  cursor: pointer;
  left: 0px;
  opacity: 1;
  transition: left 0.3s ease 0s, color 0.2s ease 0.3s;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed ul li > div span {
  display: inline-block;
  margin-right: 5px;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div ul {
  list-style: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
#RecipesPanel #Recipes #RecipesTable .recipe .ingredients-wrap > div ul li {
  font-size: 1.8rem;
}
#CupboardWrap {
  border: 1px solid black;
  border-right: 20px solid #2C2B31;
  display: grid;
  grid-template-rows: 30px 1fr 150px;
  position: relative;
  height: calc(100% - 0px);
  z-index: 10;
}
#CupboardWrap #CupboardContents {
  overflow: auto;
}
#CupboardWrap #CupboardDrawer {
  background-color: #FABE0E;
}
#CupboardWrap #AvailableIngredientsList {
  background-color: #ECDEC3;
  padding: 10px 20px;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader {
  border-bottom: 1px solid #d3b376;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-bottom: 5px;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader h3 {
  font-size: 2.5rem;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader #DiscardListBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader #DiscardListBtn:hover {
  cursor: pointer;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader #DiscardListBtn span {
  font-size: 1.8rem;
  line-height: 1;
}
#CupboardWrap #AvailableIngredientsList #AvailableIngredientsListHeader #DiscardListBtn .v-icon {
  font-size: 2.9rem;
}
#CupboardWrap #AvailableIngredientsList ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
#CupboardWrap #AvailableIngredientsList ul li {
  border-bottom: 1px solid #e0c99c;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.recipe-details-dialog .bg-images {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipe-details-dialog .v-dialog__content.v-dialog__content--active {
  background-color: black;
  transition: background-color 1s;
}
.recipe-details-dialog .v-dialog__content.v-dialog__content--active .bg-images {
  opacity: 0.5;
  transition: opacity 1.3s;
}
.recipe-details-dialog .v-dialog__content .v-dialog {
  max-width: 1200px;
  border-top-right-radius: 20px;
  box-shadow: none;
  position: relative;
  padding: 40px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .close-icon-graphical-wrapper {
  background-color: #ECDEC3;
  border: 2px solid #FABE0E;
  border-radius: 50%;
  height: 59px;
  right: 31px;
  position: absolute;
  top: 31px;
  width: 59px;
  z-index: 10;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap {
  background-color: #ECDEC3;
  border: 2px solid #FABE0E;
  border-right: 3px solid #FABE0E;
  border-top-right-radius: 25px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.6), 0 24px 38px 3px rgba(0, 0, 0, 0.5), 0 9px 46px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 20;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap .v-icon {
  border-radius: 50%;
  background-color: #ECDEC3;
  font-size: 4.7rem;
  position: absolute;
  right: -9px;
  top: -8px;
  padding: 3px;
  width: auto;
  z-index: 30;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 {
  border-bottom: 1px solid #d3b376;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 .recipe-details-image {
  min-width: 200px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 .recipe-details-title {
  align-items: center;
  color: #863333;
  display: flex;
  padding: 10px 20px 5px 15px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.recipe-instructions {
  margin-bottom: 30px;
  padding: 20px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.recipe-instructions p {
  font-size: 1.8rem;
  padding: 20px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions {
  padding: 20px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li .steps-name {
  font-size: 50px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li .steps-name h3 {
  box-shadow: none;
  color: #FD8664;
  display: block;
  font-size: 2.8rem;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 50px;
  padding: 0px;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul li {
  font-size: 1.8rem;
}
.recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul li .recipe-number {
  color: red;
}
@font-face {
  font-family: "TrashHand";
  src: url('../fonts/TrashHand.TTF');
}
@font-face {
  font-family: "fontastique";
  src: url('../fonts/fontastique.ttf');
}
@font-face {
  font-family: "Mulberry";
  src: url('../fonts/Mulberry.ttf');
}
@font-face {
  font-family: "CuteFont";
  src: url('../fonts/Cute_Font.ttf');
}
@font-face {
  font-family: "DkHand";
  src: url('../fonts/DK-Hand.ttf');
}
@font-face {
  font-family: "ChalkBoard";
  src: url('../fonts/chalkboard.ttf');
}
@font-face {
  font-family: "angelina";
  src: url('../fonts/angelina.TTF');
}
html {
  font-size: 10px!important;
  overflow: hidden!important;
}
.app-container {
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}
#app {
  background-color: #E0E6E6;
  font-family: 'fontastique';
}
#app > .v-application--wrap {
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  height: 100vh;
}
#app > .v-application--wrap #RecipeHeader {
  background-color: #ECDEC3;
  border-bottom: 5px solid #FABE0E;
}
#app > .v-application--wrap #RecipeHeader #HeaderContent {
  display: flex;
  justify-content: space-between;
}
#app > .v-application--wrap #RecipeHeader #HeaderContent h1 {
  font-size: 4rem;
}
#app > .v-application--wrap #RecipeHeader #HeaderContent h1 a {
  text-decoration: none;
}
#app > .v-application--wrap #MainView {
  overflow: hidden;
}
#app > .v-application--wrap #RecipeFooter {
  background-color: #FD8664;
}
#app > .v-application--wrap #RecipeFooter #FooterContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
}
#app > .v-application--wrap #RecipeFooter #FooterContent p {
  color: #fff;
  font-size: 1.6rem;
  margin: 0px;
}
#app img {
  line-height: 1;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  width: 100%;
}
#app a {
  color: inherit;
}
#app button {
  background-color: green;
  border: 1px solid #000;
  color: #fff;
  padding: 5px 20px;
}
#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6 {
  font-family: 'angelina';
  line-height: 1;
  font-weight: 100;
}
#HomeWrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  padding-left: 100px;
}
