@import 'variables.less';

@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham.otf');
}

@font-face {
    font-family: "fontastique";
    src: url('../fonts/fontastique.ttf');
}

html{
    font-size: 10px!important;
}

#app{
    background-color: @body-color;
    font-family: 'fontastique';

    button{
        background-color: green;
        border: 1px solid #000;
        color: #fff;
        padding: 5px 20px;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: 'Gotham';
        line-height: 1;
    }

    section{
        // border: 1px solid red;
    }

    #HomeWrap{
        display: grid;
        grid-template-columns: 1fr 2fr;

        >section{
            padding: 15px;
        }
    }

    #RecipesWrap{
        border-color: green;

        h2{
            color: @text-color2;
            font-size: 4.4rem;
        }

        #RecipesTable{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 40px;

            .recipe{
                background-color: fade(@panel-color2, 60%);

                &:hover{
                    background-color: @panel-color2;
                }

                .title-image-wrap{
                    background-color: @panel-color1;
                    line-height: 1;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding-bottom: 0px;

                    h3{
                        color: darken(@text-color1, 30%);
                        font-size: 3.4rem;
                        padding: 10px 20px;
                    }

                    .img-meta-wrap{
                        display: grid;
                        grid-template-columns: 2fr 1fr;

                        img{
                            line-height: 1;
                            margin: 0px 0px 0px 0px;
                            display: inline-block;
                            width: 100%;
                        }

                        .meta{
                            align-items: center;
                            display: flex;
                            justify-content: space-around;

                            
                            .view-recipe-btn{
                                border: 1px solid fade(#6C6659, 50%);
                                color: #6C6659;
                                display: inline-block;
                                height: auto;
                                font-size: 3rem;
                                padding: 10px;

                                &:hover{
                                    cursor: pointer;    
                                    background-color: #6C6659;
                                    color: @panel-color1;                                    
                                }

                                h4{
                                    line-height: 1;
                                }

                                .v-icon{
                                    color: inherit;
                                    font-size: 8rem;
                                }
                            }
                        }
                    }

                }
    
                .ingredients-wrap{
                   display: grid;
                   grid-template-columns: 1fr 1fr;
                //    column-gap: 10px;

                    >div{
                        padding: 10px;

                        &.ingredients-used{
                            background-color: @used-ingredients-bg;

                            ul{
                                li{
                                    border-bottom: 1px solid darken(@used-ingredients-bg, 20%);
                                }
                            }
                        }

                        &.ingredients-missed{
                            background-color: @missing-ingredients-bg;

                            ul{
                                li{
                                    border-bottom: 1px solid darken(@missing-ingredients-bg, 20%);
                                }
                            }
                        }

                        h4{
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }

                        ul{
                            list-style: none;
                            list-style-position: inside;
                            margin: 0px;
                            padding: 0px;

                            li{
                                font-size: 1.8rem;
                            }
                        }
                    }    
                }
            }
        }
    }

    #IngredientsWrap{        
        padding: 5px;

        #AvailableIngredientsList{
            background-color: @panel-color1;
            padding: 10px 20px;

            #AvailableIngredientsListHeader{
                border-bottom: 1px solid darken(@panel-color1, 20%);
                display: grid;
                grid-template-columns: 3fr 2fr;
                padding-bottom: 5px;

                h3{
                    font-size: 2.5rem;
                }

                #DiscardListBtn{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    &:hover{
                        cursor: pointer;
                    }

                    span{
                        font-size: 1.8rem;
                        line-height: 1;
                    }

                    .v-icon{
                        // color: red;
                        // font-weight: 700;
                        font-size: 2.9rem;
                    }
                }
            }

            ul{
                list-style-type: none;
                list-style-position: inside;
                margin: 0px;
                padding: 0px;

                li{
                    border-bottom: 1px solid darken(@panel-color1, 10%);
                    display: flex;
                    font-size: 2rem;
                    justify-content: space-between;
                }
            }
        }
    }
}