#RecipesWrap h2 {
  color: #8AB661;
  font-size: 4.4rem;
}
#RecipesWrap #RecipesTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}
#RecipesWrap #RecipesTable .recipe {
  background-color: rgba(250, 190, 14, 0.6);
  display: grid;
  grid-template-rows: minmax(1fr, 227px) auto;
}
#RecipesWrap #RecipesTable .recipe:hover {
  background-color: #FABE0E;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap {
  background-color: #ECDEC3;
  line-height: 1;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap h3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57565a+0,28272d+51,242226+100 */
  background: #57565a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57565a', endColorstr='#242226', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-bottom: 1px solid #d3b376;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 10px 20px;
}
@media (min-width: 420px) {
  #RecipesWrap #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #RecipesWrap #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1280) {
  #RecipesWrap #RecipesTable .recipe .title-image-wrap h3 {
    font-size: 2.8rem;
  }
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap {
  background: #57565a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #57565a 0%, #28272d 51%, #242226 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57565a', endColorstr='#242226', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn {
  border: 1px solid rgba(108, 102, 89, 0.5);
  color: #6C6659;
  display: inline-block;
  height: auto;
  font-size: 3rem;
  padding: 10px;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn:hover {
  cursor: pointer;
  background-color: #6C6659;
  color: #ECDEC3;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn h4 {
  line-height: 1;
}
#RecipesWrap #RecipesTable .recipe .title-image-wrap .img-meta-wrap .meta .view-recipe-btn .v-icon {
  color: inherit;
  font-size: 8rem;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div {
  padding: 10px;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div.ingredients-used {
  background-color: #8AB661;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div.ingredients-used ul li {
  border-bottom: 1px solid #577938;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed {
  background-color: #FD8664;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div.ingredients-missed ul li {
  border-bottom: 1px solid #f83a03;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div ul {
  list-style: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
#RecipesWrap #RecipesTable .recipe .ingredients-wrap > div ul li {
  font-size: 1.8rem;
}
#RecipesPanel {
  border: 3px solid orange;
}
#CupboardWrap {
  border: 2px solid green;
}
@font-face {
  font-family: "TrashHand";
  src: url('../fonts/TrashHand.TTF');
}
@font-face {
  font-family: "fontastique";
  src: url('../fonts/fontastique.ttf');
}
@font-face {
  font-family: "Mulberry";
  src: url('../fonts/Mulberry.ttf');
}
@font-face {
  font-family: "CuteFont";
  src: url('../fonts/Cute_Font.ttf');
}
@font-face {
  font-family: "DkHand";
  src: url('../fonts/DK-Hand.ttf');
}
@font-face {
  font-family: "ChalkBoard";
  src: url('../fonts/chalkboard.ttf');
}
@font-face {
  font-family: "angelina";
  src: url('../fonts/angelina.TTF');
}
html {
  font-size: 10px!important;
}
#app {
  background-color: #E0E6E6;
  font-family: 'fontastique';
}
#app img {
  line-height: 1;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  width: 100%;
}
#app a {
  color: inherit;
}
#app button {
  background-color: green;
  border: 1px solid #000;
  color: #fff;
  padding: 5px 20px;
}
#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6 {
  font-family: 'angelina';
  line-height: 1;
  font-weight: 100;
}
#app #RecipeHeader {
  background-color: grey;
}
#app #RecipeHeader #HeaderContent {
  display: flex;
  justify-content: space-between;
}
#app #HomeWrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#app #HomeWrap > section {
  padding: 15px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog {
  border-top-right-radius: 20px;
  box-shadow: none;
  position: relative;
  padding: 20px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .close-icon-graphical-wrapper {
  background-color: #ECDEC3;
  border: 2px solid #FABE0E;
  border-radius: 50%;
  height: 59px;
  right: 11px;
  position: absolute;
  top: 12px;
  width: 59px;
  z-index: 10;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap {
  background-color: #ECDEC3;
  border: 2px solid #FABE0E;
  border-right: 3px solid #FABE0E;
  border-top-right-radius: 25px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 20;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap .v-icon {
  border-radius: 50%;
  background-color: #ECDEC3;
  font-size: 4.7rem;
  position: absolute;
  right: -9px;
  top: -8px;
  padding: 3px;
  width: auto;
  z-index: 30;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 {
  border-bottom: 1px solid #d3b376;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 1fr 9fr;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 .recipe-details-image {
  min-width: 200px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap h2 .recipe-details-title {
  align-items: center;
  color: #863333;
  display: flex;
  padding: 10px 20px 5px 15px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.recipe-instructions {
  margin-bottom: 30px;
  padding: 20px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.recipe-instructions p {
  font-size: 1.8rem;
  padding: 20px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions {
  padding: 20px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li .steps-name {
  font-size: 50px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li .steps-name h3 {
  box-shadow: none;
  color: #FD8664;
  display: block;
  font-size: 2.8rem;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 50px;
  padding: 0px;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul li {
  font-size: 1.8rem;
}
#app .recipe-details-dialog .v-dialog__content .v-dialog .dialog-content-helper-wrap section.analyzedInstructions > ul > li > ul li .recipe-number {
  color: red;
}
