#ShoppingListWrap{
    padding-top: 40px;
    position: relative;

    #ShoppingList{
        border: 1px solid darken(@panel-color2, 20%);
        margin: 0px;
        padding: 5px;
        list-style-position: inside;
        list-style-type: none;    
    
    
        .shopping-list-item{
            border-bottom: 1px solid darken(@panel-color2, 10%);
            display: flex;
            font-size: 1.6rem;
            justify-content: space-between;
            line-height: 1;
            padding: 2px 5px;
        }
    }
}

#ShoppingViewWrap{
    // background-color: green;
    .v-dialog__container{
        // background-color: red;

        .v-dialog__content.v-dialog__content--active{//Active dialog background
            background-color: red;

            .shopping-view-wrap{
                background-color: orange;
                height: 700px;
                max-width: 400px;
                padding: 20px 20px 40px;
                transform: rotate(-.5deg);


                h2{
                    font-size: 3rem;
                    // padding: 0px;                                        
                }

                #GoShoppingList{
                    border: 1px solid darken(orange, 20%);
                    padding: 10px;

                    li{
                        display: flex;
                        justify-content: space-between;

                        >div{
                            
                            >span{
                                .v-icon{
                                    // border: 1px solid red;        
                                    margin-right: 5px;
                                } 

                                &.list-item{
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}