#ShoppingListWrap{

    h2{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 6px;
    }

    #ShoppingList{
        border: 1px solid darken(@panel-color2, 20%);
        margin: 0px;
        padding: 0px;
        list-style-position: inside;
        list-style-type: none;    
    
    
        .shopping-list-item{
            font-size: 1.6rem;
            border-bottom: 1px solid darken(@panel-color2, 10%);
            line-height: 1;
            padding: 5px 10px;
        }
    }
}
